# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
.venv/

# Envs / Secrets
.env
.env.*
*.env

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
